.content-box{
    box-sizing: content-box !important;
}
.outline-none {
    outline: none
}
.border-default {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.sgee-hide {
    opacity: 0 !important;
    visibility: hidden !important ;
}